.idea
.vscode
**/Podfile.lock
ios/Runner.xcworkspace/
build

**/Pods
**/.symlinks
**/.flutter-plugins
**/.flutter-plugins-dependencies

**/*.iml

# iOS/XCode related
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner.xcworkspace