# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
build
build-debug
build-release
exports
.vscode
.DS_Store
.idea/
*.7z
*.zip
meeting/meeting-app/version.h
meeting/meeting-ui-sdk/version.h
roomkit/src/version.h
