{
  "appkey": "your appKey",
  "module": {
    "about": {
      "privacyUrl": "https://meeting.163.com/privacy/agreement_mobile_ysbh_wap.shtml",
      "userProtocolUrl": "https://netease.im/meeting/clauses?serviceType=0"
    }
  },
  "meeting": {
    "serverUrl": "https://meeting.yunxinroom.com/"
  },
  "roomkit": {
    "roomServer": "https://roomkit.netease.im/"
  }
}
