.loginTop {
  .loginTitle {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    line-height: 34px;
    margin-top: 16px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 控制显示行数 */
    -webkit-box-orient: vertical;
  }
  .back-arrow {
    height: 44px;
    display: flex;
    align-items: center;
  }
  margin-bottom: 24px;
}
