{
  "appkey": "your appKey",
  "module": {
    "about": {
      "privacyUrl": "https://meeting.163.com/privacy/agreement_mobile_ysbh_wap.shtml",
      "userProtocolUrl": "https://netease.im/meeting/clauses?serviceType=0"
    }
  },
  "meeting": {
    "serverUrl": "https://meeting.yunxinroom.com/",
    "feedbackUploadUrl": "https://statistic.live.126.net/statics/report/common/form",
    "cloudRecordUrl": "https://yiyong-qa.netease.im/management/recordInfo"
  },
  "roomkit": {
    "roomServer": "https://roomkit.netease.im/"
  },
  "mixPushConfig": {
      "android": {
        "xmAppId": "",
        "xmAppKey": "",
        "xmCertificateName": "",
        "hwAppId": "",
        "hwCertificateName": "",
        "mzAppId": "",
        "mzAppKey": "",
        "mzCertificateName": "",
        "fcmCertificateName": "",
        "vivoApiKey": "",
        "vivoAppId": "",
        "vivoCertificateName": "",
        "oppoAppId": "",
        "oppoAppKey": "",
        "oppoAppSecret": "",
        "oppoCertificateName": "",
        "honorCertificateName": "",
        "autoSelectPushType": false
      },
      "ios": {
        "apnsCerName": "meetingPush"
      }
  }
}