@font-face {
  font-family: 'iconfont'; /* Project id 2183559 */
  src: url('https://at.alicdn.com/t/c/font_2183559_oy2ls6nz2hf.woff2?t=1686639519698')
      format('woff2'),
    url('https://at.alicdn.com/t/c/font_2183559_oy2ls6nz2hf.woff?t=1686639519698')
      format('woff'),
    url('https://at.alicdn.com/t/c/font_2183559_oy2ls6nz2hf.ttf?t=1686639519698')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconzuidahua:before {
  content: '\e65b';
}

.iconzuixiaohua_huaban1:before {
  content: '\e65d';
}

.iconchuangti-zuidahua:before {
  content: '\e602';
}

.iconyinpin:before {
  content: '\e6db';
}

.iconyijianfankui:before {
  content: '\e685';
}

.iconlive-f:before {
  content: '\e634';
}

.iconcollecting:before {
  content: '\e648';
}

.iconcollection:before {
  content: '\e6ea';
}

.iconAPIwendang:before {
  content: '\e668';
}

.iconjiekouguanli:before {
  content: '\e63a';
}

.iconjiekouguanli-copy:before {
  content: '\e840';
}

.icontupian2:before {
  content: '\e6bf';
}

.iconbushubanben:before {
  content: '\e62d';
}

.iconyinle:before {
  content: '\e6bc';
}

.iconshipin:before {
  content: '\e6c3';
}

.iconxiazai1:before {
  content: '\e6d8';
}

.iconguanbi:before {
  content: '\e6d9';
}

.icontupian:before {
  content: '\e6d6';
}

.iconwenjianjiatubiao:before {
  content: '\e6d7';
}

.iconwenjian:before {
  content: '\e6d2';
}

.iconwenjianjia:before {
  content: '\e6d3';
}

.iconRAR:before {
  content: '\e6d4';
}

.iconweishibiewenjian:before {
  content: '\e6d5';
}

.iconxiangjifanzhuan1:before {
  content: '\e600';
}

.iconguzhang:before {
  content: '\e62c';
}

.iconxiangmu1:before {
  content: '\e62b';
}

.icona-Frame2:before {
  content: '\e6b9';
}

.iconjinggao:before {
  content: '\e601';
}

.iconfsfds:before {
  content: '\e69c';
}

.icona-45:before {
  content: '\e69d';
}

.iconSIP:before {
  content: '\e68b';
}

.iconSIP-copy:before {
  content: '\e83e';
}

.iconzhuanshipin:before {
  content: '\e67c';
}

.iconzhuanyuyin:before {
  content: '\e67b';
}

.iconjiantou-zuo:before {
  content: '\e675';
}

.iconbeijing:before {
  content: '\e676';
}

.iconjiantou-shang:before {
  content: '\e677';
}

.iconjiantou-you:before {
  content: '\e678';
}

.iconxunirenkaiqi:before {
  content: '\e679';
}

.iconxunirenguanbi:before {
  content: '\e67a';
}

.iconshipin-shexiangtou:before {
  content: '\e621';
}

.iconshipin-xianshi:before {
  content: '\e622';
}

.iconshipin-maikefeng:before {
  content: '\e623';
}

.iconshipin-shexiangtou-jinyong:before {
  content: '\e624';
}

.iconshipin-gongxiangpingmu:before {
  content: '\e625';
}

.iconyinliang2:before {
  content: '\e626';
}

.iconyinliang1:before {
  content: '\e627';
}

.iconshipin-liaotian:before {
  content: '\e628';
}

.iconshipin-yincang:before {
  content: '\e629';
}

.iconshipin-maikefeng-jinyong:before {
  content: '\e62a';
}

.iconchuansongtupian:before {
  content: '\e617';
}

.iconchuansongfujian:before {
  content: '\e618';
}

.iconxiaochengxu:before {
  content: '\e824';
}

.iconduigou:before {
  content: '\e807';
}

.iconduorenshipin:before {
  content: '\e808';
}

.iconshexiangtouguan:before {
  content: '\e809';
}

.icongeren2:before {
  content: '\e80b';
}

.icondianhua:before {
  content: '\e80c';
}

.iconshexiangtoukai:before {
  content: '\e80d';
}

.iconchahao:before {
  content: '\e80e';
}

.icongeren1:before {
  content: '\e80f';
}

.iconyingyong2:before {
  content: '\e810';
}

.iconyingyong1:before {
  content: '\e811';
}

.icongengduo:before {
  content: '\e812';
}

.iconshezhi:before {
  content: '\e813';
}

.iconfangda:before {
  content: '\e814';
}

.iconsuoxiao:before {
  content: '\e815';
}

.iconAndroid:before {
  content: '\e816';
}

.iconmeiyan:before {
  content: '\e81d';
}

.iconiOS:before {
  content: '\e81e';
}

.iconxinhao:before {
  content: '\e81f';
}

.iconshuju:before {
  content: '\e820';
}

.iconWindows:before {
  content: '\e821';
}

.iconxiangjifanzhuan:before {
  content: '\e822';
}

.iconmacOS:before {
  content: '\e823';
}

.icondianhua-copy:before {
  content: '\e841';
}

.iconyasuobao:before {
  content: '\e619';
}

.iconqitawenjian1:before {
  content: '\e61b';
}

.iconExcel:before {
  content: '\e61c';
}

.iconWord:before {
  content: '\e61d';
}

.iconSubtract:before {
  content: '\e61e';
}

.iconPDF:before {
  content: '\e61f';
}

.iconPPT:before {
  content: '\e620';
}

.iconxiazai:before {
  content: '\e61a';
}

.iconshangchuantupian:before {
  content: '\e60c';
}

.iconbendiluzhi:before {
  content: '\e60d';
}

.iconfengxiantishi:before {
  content: '\e60e';
}

.iconshishipaizhao:before {
  content: '\e60f';
}

.icongongxiangpingmu:before {
  content: '\e610';
}

.icontonghuaguaqi:before {
  content: '\e611';
}

.iconshangchuanfujian:before {
  content: '\e612';
}

.iconkaiqimeiyan:before {
  content: '\e613';
}

.iconzhuanjie:before {
  content: '\e614';
}

.iconyaoqingzuoxi:before {
  content: '\e615';
}

.icongongxiangwenjian:before {
  content: '\e616';
}

.iconmorentouxiang:before {
  content: '\e60b';
}

.iconqitawenjian:before {
  content: '\e608';
}

.iconbaiban-fuzhi:before {
  content: '\e605';
}

.iconbaiban-wenjianjia:before {
  content: '\e606';
}

.iconyx-baiban:before {
  content: '\e603';
}

.iconcross-y1x:before {
  content: '\e830';
}

.iconhook-y1x:before {
  content: '\e831';
}

.iconwarning-y1x:before {
  content: '\e832';
}

.iconproblem1x:before {
  content: '\e833';
}

.icondianzanx:before {
  content: '\e754';
}

.icondianchapingx:before {
  content: '\e759';
}

.iconhappy1x:before {
  content: '\e83d';
}

.iconhang-up-y1x:before {
  content: '\e82f';
}

.iconyx-input-clearx:before {
  content: '\e789';
}

.iconfd-editx:before {
  content: '\e78b';
}

.iconyx-tv-settingx1:before {
  content: '\e78c';
}

.iconpassword-displayx:before {
  content: '\e78d';
}

.iconpassword-hidex:before {
  content: '\e78e';
}

.iconyx-pc-closex:before {
  content: '\e790';
}

.iconyx-pc-maximizex:before {
  content: '\e791';
}

.iconyx-pc-narrowx:before {
  content: '\e792';
}

.iconyx-pc-restorex:before {
  content: '\e796';
}

.iconyx-allowx:before {
  content: '\e7a5';
}

.iconyx-tv-layout-bx:before {
  content: '\e7b2';
}

.iconyx-tv-layout-ax:before {
  content: '\e7b3';
}

.iconyx-tv-sharescreen1x:before {
  content: '\e7b9';
}

.iconsound-soft1x:before {
  content: '\e7bf';
}

.iconsound-loud1x:before {
  content: '\e7c0';
}

.iconvideo-shrink-a1x:before {
  content: '\e7c1';
}

.iconvideo-fullscreen-a1x:before {
  content: '\e7c2';
}

.iconsignal1x:before {
  content: '\e7d2';
}

.iconcheck-line-regular1x:before {
  content: '\e7d3';
}

.iconsound-medium:before {
  content: '\e7d4';
}

.iconsound-mute:before {
  content: '\e7d5';
}

.iconsound-loud:before {
  content: '\e7d6';
}

.iconyx-tv-more1x:before {
  content: '\e7fd';
}

.iconcalendar1x:before {
  content: '\e7fe';
}

.icondate-line:before {
  content: '\e683';
}

.icontriangle-up1x:before {
  content: '\e7f3';
}

.icontriangle-down1x:before {
  content: '\e7f4';
}

.iconearpiece1x:before {
  content: '\e7ff';
}

.iconamplify:before {
  content: '\e800';
}

.iconheadset1x:before {
  content: '\e801';
}

.iconarrow-double-line-regular:before {
  content: '\e720';
}

.iconarrow-line-regular:before {
  content: '\e724';
}

.iconyx-tv-duankai1x:before {
  content: '\e607';
}

.iconcertification1x:before {
  content: '\e817';
}

.iconcopy1x:before {
  content: '\e818';
}

.iconnarrow-line1x:before {
  content: '\e819';
}

.iconsearch2-line1x:before {
  content: '\e81a';
}

.iconcross:before {
  content: '\e80a';
}

.iconraisehands1x:before {
  content: '\e81b';
}

.iconbeauty1x:before {
  content: '\e81c';
}

.iconyx-tv-filpx-copy:before {
  content: '\e83f';
}

.iconyx-tv-createx:before {
  content: '\e75e';
}

.iconyx-tv-voice-offx:before {
  content: '\e761';
}

.iconyx-tv-voice-onx:before {
  content: '\e763';
}

.iconyx-tv-video-onx:before {
  content: '\e760';
}

.iconyx-tv-video-offx:before {
  content: '\e762';
}

.iconyx-tv-invitex:before {
  content: '\e764';
}

.iconyx-tv-attendeex:before {
  content: '\e765';
}

.iconyx-tv-joinx:before {
  content: '\e766';
}

.iconyx-tv-likaix:before {
  content: '\e767';
}

.iconyx-tv-duankaix:before {
  content: '\e768';
}

.iconyx-tv-jieshux:before {
  content: '\e769';
}

.iconyx-tv-computerx:before {
  content: '\e76a';
}

.iconyx-tv-tvx:before {
  content: '\e76b';
}

.iconyx-tv-cancelx:before {
  content: '\e76c';
}

.iconyx-tv-settingx:before {
  content: '\e76d';
}

.iconyx-tv-filpx:before {
  content: '\e76e';
}

.iconyx-tv-removex:before {
  content: '\e770';
}

.iconyx-pc-successx:before {
  content: '\e76f';
}

.iconroom-flowx:before {
  content: '\e77f';
}

.iconanchor-flowx:before {
  content: '\e780';
}

.iconyx-returnx:before {
  content: '\e788';
}
